name: Shell Script Linting
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'improve**'
    paths:
      - '**/*.sh'
  pull_request:
    branches:
      - main
    paths:
      - 'restic-backup.sh'

permissions:
  contents: read

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          severity: error
          scandir: './restic-backup.sh'
        env:
          SHELLCHECK_OPTS: -s bash


  shfmt:
    name: Shell Fomatting
    runs-on: ubuntu-latest
    needs: shellcheck
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
